.nav-button-selected, .nav-button-unselected {
    border: none;
    width: 100%;
    padding: 10px 20px;
    font-size: 24px;
    text-align: left;
    border-radius: 10px;
}

.nav-button-selected {
  background-color: #1F2937;
  color: white;
  font-weight: bold;
}

.nav-button-unselected {
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button-unselected:hover {
  background-color: #CBD5E1;
  color: black;
  transition: background-color 0.3s ease;
}