.input-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
}

.input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 50px;
    border: solid #CBD5E1 3px;
}

@media screen and (max-width: 680px) {
    .input-container {
        width: 70%;
    }

    .input {
        padding: 8px;
    }
}

