.header-button, .disconect-button {
    height: 30px;
    padding: 24px 32px;
    border-radius: 32px;
    border: none;
    background-color: #E5E7EB;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
}

.disconect-button {
    background-color: #c62727;
    color: white;
}

.header-button {
    background-color: #E5E7EB;
    color: black;
}

.header-button:hover {
    background-color: #CBD5E1;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.disconect-button:hover {
    background-color: #b70808;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 680px) {
    .header-button, .disconect-button {
        padding: 16px 24px;
        font-size: 12px;
    }
    
}