.page-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 16px;
    width: 100%;
    min-height: 100vh;
}
  
.page-content {
    height: 100%;
    overflow: auto;
    border-radius: 8px;
    grid-column: 3 / 11;
}
  
@media screen and (max-width:680px){
    .page-container {
        grid-template-columns: repeat(6, 1fr);
        gap: 8px;
    }
    .page-content {
        grid-column: 1 / -1;
    }
}